{
    "presets": [
      [
        "next/babel"
      ]
    ],
    "plugins": [
      "babel-plugin-root-import",
      ["@babel/plugin-proposal-decorators", { "legacy": true }],
      ["@babel/plugin-proposal-class-properties", { "loose": true }],
      ["module-resolver", {
        "root": ["."]
      }],
      [
        "styled-jsx/babel",
        { "plugins": [
          ["styled-jsx-plugin-sass", {
            "sassOptions": {
              "includePaths": ["./assets/css"],
              "precision": 2
            }
          }]]
        }
      ]
    ]
  }